{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>로그인</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        {{ error }}
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action=".">
            {% csrf_token %}
            <!-- form은 데이터를 전달하는 건데 사이트에서 데이터를 전달하면 문제가 없는데
                    해커가 크로스도메인을 막기위해서 암호화된 키를 숨겨놓는다. 키가 없으면 잘못된 요청이라고 서버에서 거절한다  -->
            {% for field in form %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                <input type="{{field.field.widget.input_type}}" class="form-control" id="{{field.id_for_label}}" 
                placeholder="{{ field.label }}" name="{{ field.name }}" />
            </div>
            {% if field.errors %}
            <span style="color: red">{{ field.errors }}</span>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
</div>
{% endblock %}
